*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
.header-title{
    font-size: 80px;
    color: #272727;
}
.header-paragraph{
    font-family: 'Lato',
    'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: #272727;
    margin-top: 20px;
    margin-bottom: 20px ;
}
.btn-header{
    padding: 25px;
    font-size: 20px;
    color: white;
    border: none;
    background-color: #E55473;
    border-radius: 5px;
}
.header-part{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FFD4CF
}
.header-img{
    margin-top: 20px;
    margin-bottom: 0px;
    padding: 0px;
}